<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<typeAliases>
	<typeAlias type="com.farmingtool.dto.RentalHistory" alias="rentalHistory"/>
	<typeAlias type="com.farmingtool.dto.Admin" alias="Admin"/>
	<typeAlias type="com.farmingtool.dto.Member" alias="Member"/>
	<typeAlias type="com.farmingtool.dto.FarmMachine" alias="FarmMachine"/>
	<typeAlias type="com.farmingtool.dto.DetailMachine" alias="DetailMachine"/>
	<typeAlias type="com.farmingtool.dto.RentalInfomation" alias="RentalInfomation"/>
	<typeAlias type="com.farmingtool.dto.Type" alias="Type"/>
</typeAliases>

<mappers>
	<mapper resource="com/farmingtool/mapper/RentalHistoryMapper.xml"/>
	<mapper resource="com/farmingtool/mapper/AccountMapper.xml"/>
	<mapper resource="com/farmingtool/mapper/FarmMachineMapper.xml"/>
	<mapper resource="com/farmingtool/mapper/DetailMachineMapper.xml"/>
</mappers>

</configuration>
