<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.farmingtool.mapper.RentalHistoryMapper">

	<insert id="insertRentalHistory" parameterType="RentalHistory">
		<selectKey keyProperty="historyNo" order="AFTER" resultType="int">
			select rental_history_sequence.currval from dual
		</selectKey>
		INSERT INTO rental_history(history_no, member_id, history_rentaldate, history_returndate, history_status, machine_no)
		VALUES (rental_history_sequence.nextval, #{memberId}, #{historyRentalDate}, #{historyReturnDate}, #{historyStatus}, #{machineNo})
	</insert>
	
</mapper>