#rental-condition-title {
	color: #666666;
	padding-bottom: 5px;
}

.rental_option{
	width: 80%;
	max-width:300px;
	height: 30px;
}

#message {
	width: 95%;
	height:200px;
	border: 1px solid;
	border-color:#cccccc;
}

#rental_search {
	width: 70px;
	height: 30px;
	background-color: white;
}